*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana,Geneva,Tahoma,sans-serif;
}
html,body{
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
.center{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2%;
	height: 100%;
	overflow: hidden;
}
header{
	height: 200px;
	padding: 20px 0;
}
.logo{
	width: 50%;
}
.menu{
	padding-top: 10px;
	width: 50%;
	text-align: right;
}
.menu a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	margin-right: 15px;
}
section.sobre{
	height: calc(100%-200px);
	
}
.extras{
	position:absolute;
	bottom: -450px;
	right: -450px;
	width: 1050px;
	height: 1050px;
	border-radius: 60%;
	background-color: #017143;
}
.social-media{
	position: absolute;
	right: 500px;
	top:200px;
}
.social-media img{
	display: block;
	width: 20px;
	margin: 20px 0;
}
.texto-sobre h1{
	margin-top:-10px;
}
.texto-sobre h1{
	font-size: 40px;
}
.texto-sobre p{
	margin: 10px 0;
	color: black;
	font-size: 15px;
	font-weight: bold;
	max-width: 650px;
}
.texto-sobre  button{
	border:0;
	background-color:#017143;
	color: white;
	border-radius: 13px;
	width: 110px;
	height: 30px;
	margin: 10px;
	cursor: pointer;


}